<!DOCTYPE html>
<html lang="en">

<head>
  <title>Main</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- External Font CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

  <!-- Stylesheet CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/listings.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/listings.js"></script>
</head>

  <!-- Icons CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- HTML page content -->
<body>
  <%- include('partials/_nav') %>

  <!-- header container -->
  <header class="header-main">
    <div class="header-image-container">
      <h1>HOME PAGE</h1>
      <img class="header-image" src="/images/header_sandwich.avif">
      <h1>CHECK OUT OUR SANDWICHES BELOW!</h1>
      <i class="fa-solid fa-angles-down"></i>
    </div>
  </header>

  <!-- main content container -->
  <main>
        <% for (let i = 0; i < listings.length; i++) { %>
         <% if (i === 0 || i === 3 || i === 6) { %>
            <div class="listings-container-row">
         <% } %>

          <div class="listings-container" style="cursor: pointer;" onclick="window.location='/listings/<%= listings[i].id %>';">
            <img src=<%= listings[i].thumbnail_url %>></img>
            <span>SANDWICH: <%= listings[i].title %></span>
            <span>SELLER: <%= listings[i].seller %></span>
          </div>

          <% if (i === 2 || i === 5 || i === 8) { %>
            </div>
          <% } %>
        <% } %>
    </div>

    <footer>
      <a href="" class="listings-more-button">MORE</a>
    </footer>
  </main>

</body>

</html>
