<!DOCTYPE html>
<html lang="en">

<head>
  <title>Main</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- External Font CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

  <!-- Stylesheet CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/listings.css" />
  <link rel="stylesheet" href="/styles/product.css" />
  <link rel="stylesheet" href="/styles/favorite.css" />
  <link rel="stylesheet" href="/styles/messages.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/scripts/favorites.js"></script>
  <script src="/scripts/delete.js"></script>
  <script src="/scripts/messages.js"></script>
</head>

  <!-- Icons CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML page content -->
<body>
  <%- include('partials/_nav') %>
  <% const countSales = () => { %>
    <% let uniqueSaleIDs = [] %>
    <% let uniqueSales = [] %>
    <% for(let i = 0; i < messages.length; i++){ %>
      <% if (!uniqueSaleIDs.includes(messages[i].sale_id)) { %>
        <% uniqueSaleIDs.push(messages[i].sale_id) %>
        <% uniqueSales.push(messages[i]) %>
      <% } %>
    <% } %>
    <% return uniqueSales %>
  <% } %>
  <% const getConversation = (sale_id) => { %>
    <% const conversationMessages = [] %>
    <% for(let i = 0; i < messages.length; i++){ %>
      <% if (messages[i].sale_id === sale_id) { %>
        <% conversationMessages.push(messages[i]) %>
      <% } %>
    <% } %>
    <% return conversationMessages %>
  <% } %>
  <!-- main product container -->
  <body class="product-main">
    <h1>MESSAGES</h1>
    <div class="messages-container">
      <section class="sales-container">
        <span>SALES</span>
        <% let uniqueSales = countSales() %>
        <% for(let i = 0; i < uniqueSales.length; i++) { %>
          <div class="individual-sales-container" data-sale-id="<%= uniqueSales[i].sale_id %>">
            <img class="individual-sales-container-img" src="<%= uniqueSales[i].thumbnail_url %>"">
            <div class="individual-sales-container-description">Sale conversation with User: <%= uniqueSales[i].user_id %> about Listing: <%= uniqueSales[i].listing_id %> </div>
          </div>
          <% } %>
      </section>

      <div class="right-side-messages">
        <section class="listing-display-container">
          <div class="messages-image-container">IMAGE IN HERE</div>

          <section class="listing-description-container">
            <ul>
              <td><span style="color: #e0e0e0">TITLE: </span></td><br>
              <td><span style="color: #e0e0e0">DESCRIPTION: </span></td><br>
              <td><span style="color: #e0e0e0">SIZE: </span></td><br>
              <td><span style="color: #e0e0e0">GLUTEN FREE: </span></td><br>
              <td><span style="color: #e0e0e0">VEGETARIAN: </span></td><br>
              <td><span style="color: #e0e0e0">PROTEIN: </span></td><br>
              <td><span style="color: #e0e0e0">BREAD: </span></td><br>
              <td><span style="color: #e0e0e0">PRICE: </span></td>
            </ul>
          </section>

        </section>
        <section class="messages-conversation-container">

        </section>
      </div>

    </div>

  </body>

</body>

</html>
